#title{
    background-color:#ff4c68;
    color:#fff;
    position:relative;
    z-index:-1;
}

h1{
    font-family: 'Montserrat',sans-serif;
    font-size: 3.5rem;
    line-height:1.5;
    font-weight:bold;

}
h2{
    font-family: 'Montserrat-Bold',sans-serif;
    font-size: 3rem;
    line-height:1.5;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
}
p{
    color:#8f8f8f;
}
.container-fluid{
    padding:3% 15% 7%;
}

body{
    font-family: 'Montserrat',sans-serif;
}



/* navigation bar */
.navbar{
    padding-bottom: 0 0 4.5rem;
}

.navbar-brand{
     font-family:"Ubuntu";
     font-size:2.5rem;
     font-weight:bold;
}

.nav-item{
    padding:0 10px;
}
.nav-link{
    font-size:1.2rem;
    font-family: "Montserrat-light",sans-serif;
}

/* title image */
.title-image{
    width:21%;
    transform:rotate(25deg);
    position: absolute;
    right:23%;
}

/* features section */
#features{
    padding:7% 15%;
    background-color: #fff;
    position: relative;
}
.feature-box{
    text-align:center;
    padding:5%;
}

.icon{
    color:#ef8172;
    margin-bottom:1rem;
}
.icon:hover{
    color:#ff4c68;
}

/* testimonials section */
#testimonials{
   
    text-align:center;
    background-color:#ef8172;
    color:#fff;
}

.testimonial-image{
    width:10%;
    border-radius: 100%;
    margin:20px;
}

#press{
    background-color:#ef8172;
    text-align:center;
    padding-bottom: 3%;
}
.press-logo{
    width:15%;
    margin:20px 20px 50px;
}

.carousel-item{
    padding:7% 15%;
}

/* pricing section */
#pricing{
    padding:100px;
    text-align: center;
}

.pricing-column{
    padding:3% 2%;
}

#cta{
    background-color:#ff4c68;
    color:#fff;
    padding:7% 15%;
    text-align: center;
}
.cta-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height:1.5;
}

/* footer section */

#footer{
    padding:7% 15%;
    text-align:center;
}
.social-icon{
    margin:20px 10px;
}

@media (max-width:1028px){

    #title{
        text-align: center;
    }

    .title-image{
        position:static;
        transform: rotate(0);
        width:60%;
    }
}